* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: var(--font-family);
  font-size: var(--font-size-p);
  color: var(--color-dark);

  transition: all 0.3s;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;

  color: var(--color-dark);
  background-color: var(--color-white);
}

main {
  width: 100%;
  max-width: 1920px;

  border-left: solid 1px var(--color-dark);
  border-right: solid 1px var(--color-dark);
}

/* Sidebar */
sidebar {
  width: 100%;
  max-width: 300px;

  border-right: solid 1px var(--color-dark);
}

logo {
  padding: 0.625rem 0.75rem;
}

.nav-btn {
  padding: 0.625rem 0.75rem;
}

.nav-btn:hover {
  background-color: var(--color-light-grey);
}

.active {
  background-color: var(--color-light-grey);
}

.nav-download {
  color: var(--color-white);
  background-color: var(--color-dark);
}

.nav-download:hover {
  color: var(--color-white);
  background-color: var(--color-green);
}

/* Structure */
container {
  width: 100%;
}

content {
  flex: 1;
}

/* Button */
.btn {
  padding: 0.625rem 0.75rem;
}

.btn:hover {
  opacity: 0.9;
}

.btn-primary {
  color: var(--color-white);
  background-color: var(--color-dark);
}

.btn-download {
  color: var(--color-white);
  background-color: var(--color-green);
}

.btn-download:hover {
  box-shadow: 0 0 8px color-mix(in srgb, var(--color-green) 50%, transparent);
}

/* Media Queries */
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 425px) {
}
