@import url("components.css");
@import url("utilities.css");

@font-face {
  font-family: "BDO Grotesk";
  src: url(../font/BDOGrotesk-VF.ttf) format("truetype");
}

:root {
  /* Primary Color */
  --color-dark: #000000;
  --color-white: #ffffff;

  /* Secondary Color */
  --color-green: #4caf50;
  --color-red: #f44336;

  /* Font Family */
  --font-family: "BDO Grotesk", "Arial", sans-serif;

  /* Font Size */
  --font-size-p: 1rem;
  --font-size-h1: 2rem;
  --font-size-h2: 1.5rem;
  --font-size-h3: 1.25rem;

  /* Font Weight */
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* Line heights */
  --line-height-small: 1.2;
  --line-height-normal: 1.6;
}

::selection {
  color: var(--color-white);
  background: var(--color-dark);
}

/* Font Style */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-small);
  color: var(--color-dark);
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

p {
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-normal);
}

/* Reset */
a {
  text-decoration: none;
  cursor: pointer;
}

button {
  background-color: none;
  border: none;
}
